@using RG_Store.BLL.ModelVM.ItemVM
@model List<GetAllItemVM>
@foreach(var it in Model){
    <!--item-->
    <div>
        <a class="d-block rounded-3 overflow-hidden" href="#">
            <img class="d-block"
                 src="~/images/crash-bandicoot-4-ride-i99518 (2).jpg" alt="Image">
        </a>

        <div>
            <a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">
                <h4 class=" text-center text-light pt-1">
                    <a class="nav-link" href="#" >@it.Name</a>
                </h4>
                <p class="d-none d-md-block" asp-for="Description">
                    @it.Description
                </p>
                <h3 class="text-center" style="color: #fd390e;" >
                    <s style="color: #9691a4 !important;" asp-for="Price"></s>
                    @it.Price
                </h3>
            </a>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success col">Add to Cart</button>
                <button type="button" class="btn btn-danger col-3">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
        </div>
    </div>
    <!--item-->
}