@using RG_Store.BLL.ModelVM.ItemVM
@model List<GetAllItemVM>
<section class="bg-position-top-center bg-repeat-0 pt-5" style="background-image: url(~/images/hero-bg.png); background-size: 1920px 630px;">
    <div class="container pt-5">
        <div class="row pt-lg-4 pt-xl-5">
        </div>
    </div>
    <div class="container mt-4 mt-sm-3 mt-lg-n3 pb-5 mb-md-4">

        <form class="form-group form-group-light d-block">
            <div class="row g-0 ms-lg-n2">
                <div class="col-lg-2">
                    <div class="input-group border-end-lg border-light">
                        <span class="input-group-text text-muted ps-2 ps-sm-3"><i class="fi-search"></i></span>
                        <input class="form-control" type="text" name="keywords" placeholder="Keywords...">
                    </div>
                </div>
                <hr class="hr-light d-lg-none my-2">
                <div class="col">
                    <div class="dropdown border-end-sm border-light" data-bs-toggle="select">
                        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
                            <i class="fi-list me-2"></i><span class="dropdown-toggle-label">Genre</span>
                        </button>
                        <input type="hidden" name="make">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Racing</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Shooting</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Sports</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">RPG</span></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="hr-light d-sm-none my-2">
                <div class="col">
                    <div class="dropdown border-end-md border-light" data-bs-toggle="select">
                        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
                            <i class="fi-list me-2"></i><span class="dropdown-toggle-label">Price</span>
                        </button>
                        <input type="hidden" name="model">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 2000</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 1500</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 1000</span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Under 500</span></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="hr-light d-md-none my-2">
                <div class="col">
                    <button class="btn btn-primary w-100 makeMeOrangeBG" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="container pb-5 mb-md-4">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 g-md-4">
        @foreach (var it in Model)
        {
            <!--item-->
            <div class="col">
                <a class="d-block rounded-3 overflow-hidden" href="#">
                    <img class="d-block mx-auto fixed-size"
                         src="~/uploaded_images/items/@(it.ItemImage)" alt="@(it.ItemImage)">
                </a>

                <div>
                    <a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">
                        <h4 class=" text-center text-light pt-1">
                            <a class="nav-link" href="#">@it.Name</a>
                        </h4>
                        <p class="d-none d-md-block" asp-for="Description">
                            @it.Description
                        </p>
                        <h3 class="text-center" style="color: #fd390e;">
                            <s style="color: #9691a4 !important;" asp-for="Price"></s>
                            @it.FinalPrice
                        </h3>
                    </a>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-success col">Add to Cart</button>
                        <button type="button" class="btn btn-danger col-3">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--item-->
        }
    </div>
</section>