@using RG_Store.BLL.ModelVM.ItemVM
@model DeleteItemVM
@{
    var categories = ViewBag.Categories;
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="container d-flex justify-content-center align-items-center max-vh-100">
    <div class="row mx-0 w-100" style="max-width: 600px;">
        <div class="col-md-12 px-4 pt-2 pb-4">
            <h2 class="text-center mb-4" style="margin-bottom:100px !important">Delete Item</h2>
            <form class="needs-validation" novalidate asp-action="DeleteItem" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label mb-2" for="item-name">Game Name</label>
                        <input class="form-control" type="text" id="item-name" placeholder="Enter game name" readonly asp-for="Name">
                        <div class="invalid-feedback">Please provide a valid game name!</div>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label mb-2" for="item-finalprice">Price</label>
                        <input class="form-control" type="number" id="item-finalprice" placeholder="Enter game price" readonly asp-for="FinalPrice">
                        <div class="invalid-feedback">Please provide a valid price!</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label mb-2" for="item-description">Game Description</label>
                        <input class="form-control" type="text" id="item-description" placeholder="Enter game description" readonly asp-for="Description">
                        <div class="invalid-feedback">Please provide a valid game description!</div>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label mb-2" for="item-quantity">Quantity</label>
                        <input class="form-control" type="number" id="item-quantity" placeholder="Enter game quantity" readonly asp-for="Quantity">
                        <div class="invalid-feedback">Please provide a valid quantity!</div>
                    </div>
                </div>



                <div class="d-flex justify-content-center mt-3">
                    @if (Model.IsDelted)
                    {
                        <button class="btn btn-danger btn-lg me-2" style="width: 35%" type="submit">Restore Item</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-lg me-2" style="width: 35%" type="submit">Delete Item</button>
                    }
                    <a href="@Url.Action("items", "Admin")" style="width: 35%" class="btn btn-secondary btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
