@using RG_Store.BLL.ModelVM.UserVM
@model DeleteUserVM
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete User</h2>
<div class="container bg-dark text-light d-flex min-vh-100 justify-content-center align-items-center" style="margin-top:30px;">
    <form asp-action="Delete" asp-controller="Admin" method="post">
        <!-- Hidden field to pass the UserId to the controller -->
        <input type="hidden" asp-for="Id" />

        <div class="mb-4">
            <label asp-for="UserName" class="form-label fw-bold text-light"></label>
            <input readonly class="form-control form-control-light" type="text" asp-for="UserName" placeholder="Enter New Username" required>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="FirstName" class="form-label fw-bold text-light"></label>
            <input readonly class="form-control form-control-light" type="text" asp-for="FirstName" placeholder="Enter First Name" required>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="LastName" class="form-label fw-bold text-light"></label>
            <input readonly class="form-control form-control-light" type="text" asp-for="LastName" placeholder="Enter Last Name" required>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label asp-for="Email" class="form-label fw-bold text-light"></label>
            <input readonly class="form-control form-control-light" type="text" asp-for="Email" placeholder="Enter Last Name" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">Delete User</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
