@using RG_Store.BLL.ModelVM.OrderVM
@model GetOrderVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="head-title">
    <div class="left">
        <h1>Orders</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Orders</a>
            </li>
        </ul>
    </div>

</div>

<ul class="box-info">
    <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text">
            <h3>1020</h3>
            <p>Order Count</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-group'></i>
        <span class="text">
            <h3>2834</h3>
            <p>Users Count</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
            <h3>$2543</h3>
            <p>Total Sales</p>
        </span>
    </li>
</ul>

<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Recent Orders</h3>
            @* Create Orders
            <li class="list-inline-item">
            <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
            </li> 
            *@
        </div>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Order Id</th>
                    <th>Date Order</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>
@*                         <img src="img/people.png"> *@
                        <p>Model.OrderId</p>
                    </td>
                    <td>Model.CreatedOn</td>
                    <td><span class="status completed">Model.OrderStatus</span></td>
                    <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            </li>
                            <li class="list-inline-item">
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

