﻿@using RG_Store.BLL.ModelVM.UserVM
@using System.Security.Claims
@model EditUserVM
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


<div class="head-title">
    <div class="left">
        <h1>Users</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Users</a>
            </li>
        </ul>
    </div>

</div>

<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>All Users</h3>

            <li class="list-inline-item">
                <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Create"><i class="fa fa-table"></i></button>
            </li>


        </div>
        <table class="tablee table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Rule</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>johndoe@example.com</td>
                    <td>user</td>
                    <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">

                            <li class="list-inline-item">
                                <a asp-controller="Admin" asp-action="EditUser" asp-route-Id="@userId" class="btn btn-success btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

</div>