
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    <section class="bg-position-top-center bg-repeat-0 pt-5"
        style="background-image: url(images/hero-bg.png); background-size: 1920px 630px;">
        <div class="container pt-5">
            <div class="row pt-lg-4 pt-xl-5">
                <div class="col-lg-4 col-md-5 pt-3 pt-md-4 pt-lg-5">
                    <h1 class="display-4 text-light pb-2 mb-4 me-md-n5">Enjoy Latest Games Released</h1>
                    <p class="fs-lg text-light opacity-70"> Order , Pay , Enjoy your favorite Games </p>
                </div>
                <div class="col-lg-8 col-md-7 pt-md-5"><img class="d-block mt-4 ms-auto" src="images/hero-img.png"
                        width="800" alt="Car"></div>
            </div>
        </div>
        <div class="container mt-4 mt-sm-3 mt-lg-n3 pb-5 mb-md-4">

            <!--<ul class="nav nav-tabs nav-tabs-light mb-4">-->
            <!--    <li class="nav-item"><a class="nav-link active" href="#">New</a></li>-->
            <!--    <li class="nav-item"><a class="nav-link" href="#">Used</a></li>-->
            <!--</ul>-->

            <form class="form-group form-group-light d-block">
                <div class="row g-0 ms-lg-n2">
                    <div class="col-lg-2">
                        <div class="input-group border-end-lg border-light"><span
                                class="input-group-text text-muted ps-2 ps-sm-3"><i class="fi-search"></i></span>
                            <input class="form-control" type="text" name="keywords" placeholder="Keywords...">
                        </div>
                    </div>
                    <hr class="hr-light d-lg-none my-2">
                    <div class="col">
                        <div class="dropdown border-end-sm border-light" data-bs-toggle="select">
                            <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button"
                                data-bs-toggle="dropdown"><i class="fi-list me-2"></i><span
                                    class="dropdown-toggle-label">Genre</span></button>
                            <input type="hidden" name="make">
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Racing</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Shooting</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Sports</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">RPG</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="hr-light d-sm-none my-2">
                    <div class="col">
                        <div class="dropdown border-end-md border-light" data-bs-toggle="select">
                            <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button"
                                data-bs-toggle="dropdown"><i class="fi-list me-2"></i><span
                                    class="dropdown-toggle-label">Price</span></button>
                            <input type="hidden" name="model">
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>100</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 70</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 60</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 50</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 40</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 30</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 20</span></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">
                                            <span>
                                                < 10</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="hr-light d-md-none my-2">
                    <!--<div class="col-lg-2 col-md-3 col-sm-6">-->
                    <!--    <div class="dropdown border-end-sm border-light" data-bs-toggle="select">-->
                    <!--        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button"-->
                    <!--            data-bs-toggle="dropdown"><i class="fi-car fs-lg me-2"></i><span-->
                    <!--                class="dropdown-toggle-label">Body type</span></button>-->
                    <!--        <input type="hidden" name="type">-->
                    <!--        <ul class="dropdown-menu dropdown-menu-dark">-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Compact</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Crossover</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Coupe</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Family-->
                    <!--                        MPV</span></a></li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Pickup</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Sedan</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">SUV</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Wagon</span></a>-->
                    <!--            </li>-->
                    <!--        </ul>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<hr class="hr-light d-sm-none my-2">-->
                    <!--<div class="col-lg-2 col-md-3 col-sm-6">-->
                    <!--    <div class="dropdown" data-bs-toggle="select">-->
                    <!--        <button class="btn btn-link dropdown-toggle ps-2 ps-sm-3" type="button"-->
                    <!--            data-bs-toggle="dropdown"><i class="fi-map-pin me-2"></i><span-->
                    <!--                class="dropdown-toggle-label">Location</span></button>-->
                    <!--        <input type="hidden" name="location">-->
                    <!--        <ul class="dropdown-menu dropdown-menu-dark">-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Dallas</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Chicago</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span-->
                    <!--                        class="dropdown-item-label">Houston</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Las-->
                    <!--                        Vegas</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Los-->
                    <!--                        Angeles</span></a></li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">New-->
                    <!--                        York</span></a>-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">San-->
                    <!--                        Francisco</span></a></li>-->
                    <!--        </ul>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<hr class="hr-light d-lg-none my-2">-->
                    <div class="col">
                        <button class="btn btn-primary w-100 makeMeOrangeBG" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <section class="container pb-5 mb-md-4">
        <div class="d-sm-flex align-items-center justify-content-between mb-3 mb-sm-4 pb-sm-2">
            <h2 class="h3 text-light mb-2 mb-sm-0">Pick your favourite Genre</h2><a
                class="btn btn-link btn-light fw-normal px-0 myHover" href="#">View all<i
                    class="fi-arrow-long-right fs-sm mt-0 ps-1 ms-2"></i></a>
        </div>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-2 g-md-4">
            <div class="col">
                <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                    <img class="d-block mx-auto mb-3" src="images/9.png" alt="Sedan"><a
                        class="nav-link-light stretched-link fw-bold" href="#">Racing</a>
                </div>
            </div>

            <div class="col">
                <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                    <img class="d-block mx-auto mb-3" src="images/10.png" alt="SUV"><a
                        class="nav-link-light stretched-link fw-bold" href="#">Shooting</a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                    <img class="d-block mx-auto mb-3" src="images/11.png" alt="SUV"><a
                        class="nav-link-light stretched-link fw-bold" href="#">Sports</a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body card-light card-hover bg-transparent border-0 px-0 pt-0 text-center">
                    <img class="d-block mx-auto mb-3" src="images/12.png" alt="SUV"><a
                        class="nav-link-light stretched-link fw-bold" href="#">RPG</a>
                </div>
            </div>
        </div>
    </section>

    <!--<section class="container py-2 py-sm-3">-->
    <!--    <div class="row g-2 g-sm-4">-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/opel.svg" width="86" alt="Opel"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/audi.svg" width="86" alt="Audi"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/mercedes.svg" width="86" alt="Mercedes-Benz"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/toyota.svg" width="86" alt="Toyota"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/mazda.svg" width="86" alt="Mazda"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/nissan.svg" width="86" alt="Nissan"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/hyundai.svg" width="86" alt="Hyundai"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/lexus.svg" width="86" alt="Lexus"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/honda.svg" width="86" alt="Honda"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/renault.svg" width="86" alt="Renault"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/infiniti.svg" width="86" alt="Infiniti"></a></div>-->
    <!--        <div class="col-3 col-sm-2 col-xl-1 mb-4 pb-2"><a class="opacity-40 opacity-transition d-table mx-auto"-->
    <!--                href="#"><img src="images/mitsubishi.svg" width="86" alt="Mitsubishi"></a></div>-->
    <!--    </div>-->
    <!--</section>-->
    <!-- start -->
    <section class="container pb-5 mb-md-4">
        <div class="d-sm-flex align-items-center justify-content-between mb-3 mb-sm-4 pb-sm-2">
            <h2 class="h3 text-light mb-2 mb-sm-0">Offers</h2><a class="btn btn-link btn-light fw-normal px-0 myHover"
                href="#">Go to Store<i class="fi-arrow-long-right fs-sm mt-0 ps-1 ms-2"></i></a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  g-2 g-md-4">
            <div>
                <a class="d-block rounded-3 overflow-hidden" href="#"><img class="d-block" src="images/021.jpg"
                        alt="Image"></a>
                <div class="py-3"><a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">MONEY
                        MONEY</a>
                    <h3 class="text-light fs-base pt-1"><a class="nav-link" href="#">What's the color of your
                            BMW ?</a>
                    </h3><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle"
                            src="images/031.jpg" width="44" alt="Avatar">
                        <div class="ps-2">
                            <h6 class="fs-sm text-light lh-base mb-1">Andrew Zeet</h6>
                            <div class="d-flex fs-xs text-light opacity-60"><span class="me-2 pe-1"><i
                                        class="fi-calendar-alt me-1"></i>Jan 15</span><span><i
                                        class="fi-chat-circle me-1"></i>68+
                                    comments</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <a class="d-block rounded-3 overflow-hidden" href="#"><img class="d-block" src="images/04_1.jpg"
                        alt="Image"></a>
                <div class="py-3"><a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">Events</a>
                    <h3 class="text-light fs-base pt-1"><a class="nav-link" href="#">Top 10 Classic
                            Car Events</a></h3><a class="d-flex align-items-center text-decoration-none" href="#"><img
                            class="rounded-circle" src="images/08_1.jpg" width="44" alt="Avatar">
                        <div class="ps-2">
                            <h6 class="fs-sm text-light lh-base mb-1">Jacob Jones</h6>
                            <div class="d-flex fs-xs text-light opacity-60"><span class="me-2 pe-1"><i
                                        class="fi-calendar-alt me-1"></i>May 8</span><span><i
                                        class="fi-chat-circle me-1"></i>No
                                    comments</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <!--item-->
            <div>
                <a class="d-block rounded-3 overflow-hidden" href="#"><img class="d-block"
                        src="images/crash-bandicoot-4-ride-i99518 (2).jpg" alt="Image"></a>

                <div>
                    <a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">
                        <h4 class=" text-center text-light pt-1">
                            <a class="nav-link" href="#">Crash Bandicoot I love U</a>
                        </h4>
                        <p class="d-none d-md-block">
                            this game is very gay.to be honest.gay game gay graphics and even asshole.
                            penis dick lovers are all over the place with huge penis.
                        </p>
                        <h3 class="text-center" style="color: #fd390e;">
                            <s style="color: #9691a4 !important;">69$</s>
                            110$
                        </h3>
                    </a>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-success col">Add to Cart</button>
                        <button type="button" class="btn btn-danger col-3">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                    <!-- text-light fs-base pt-1 -->
                    <!--<a class="d-flex align-items-center text-decoration-none" href="#"><img-->
                    <!--        class="rounded-circle" src="images/032.jpg" width="44" alt="Avatar">-->
                    <!--    <div class="ps-2">-->
                    <!--        <h6 class="fs-sm text-light lh-base mb-1">BlackBerry</h6>-->
                    <!--        <div class="d-flex fs-xs text-light opacity-60"><span class="me-2 pe-1"><i-->
                    <!--                    class="fi-calendar-alt me-1"></i>Jun 17</span><span><i-->
                    <!--                    class="fi-chat-circle me-1"></i>125-->
                    <!--                comments</span></div>-->
                    <!--    </div>-->
                    <!--</a>-->
                </div>
            </div>
            <!--item-->
            <div>
                <a class="d-block rounded-3 overflow-hidden" href="#"><img class="d-block" src="images/05.jpg"
                        alt="Image"></a>
                <div class="py-3"><a class="fs-xs text-uppercase text-decoration-none makeMeOrange"
                        href="#">Inspiration</a>
                    <h3 class="text-light fs-base pt-1"><a class="nav-link" href="#">5
                            Predictions
                            From the Past About the Future</a></h3><a
                        class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle"
                            src="images/09_1.jpg" width="44" alt="Avatar">
                        <div class="ps-2">
                            <h6 class="fs-sm text-light lh-base mb-1">Guy Hawkins</h6>
                            <div class="d-flex fs-xs text-light opacity-60"><span class="me-2 pe-1"><i
                                        class="fi-calendar-alt me-1"></i>Apr 25</span><span><i
                                        class="fi-chat-circle me-1"></i>6
                                    comments</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <a class="d-block rounded-3 overflow-hidden" href="#"><img class="d-block" src="images/020.jpg"
                        alt="Image"></a>
                <div class="py-3"><a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">Crazy
                        Drives</a>
                    <h3 class="text-light fs-base pt-1"><a class="nav-link" href="#">This car goes brrrrrrrr</a>
                    </h3><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle"
                            src="images/030.jpg" width="44" alt="Avatar">
                        <div class="ps-2">
                            <h6 class="fs-sm text-light lh-base mb-1">Speed boi</h6>
                            <div class="d-flex fs-xs text-light opacity-60"><span class="me-2 pe-1"><i
                                        class="fi-calendar-alt me-1"></i>Jan 13</span><span><i
                                        class="fi-chat-circle me-1"></i>124
                                    comments</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <a class="d-block rounded-3 overflow-hidden" href="#"><img class="d-block" src="images/06.jpg"
                        alt="Image"></a>
                <div class="py-3"><a class="fs-xs text-uppercase text-decoration-none makeMeOrange" href="#">Test
                        Drives</a>
                    <h3 class="text-light fs-base pt-1"><a class="nav-link" href="#">This Year is All
                            About New Harley Davidson</a></h3><a class="d-flex align-items-center text-decoration-none"
                        href="#"><img class="rounded-circle" src="images/12.jpg" width="44" alt="Avatar">
                        <div class="ps-2">
                            <h6 class="fs-sm text-light lh-base mb-1">Ralph Edwards</h6>
                            <div class="d-flex fs-xs text-light opacity-60"><span class="me-2 pe-1"><i
                                        class="fi-calendar-alt me-1"></i>Mar 12</span><span><i
                                        class="fi-chat-circle me-1"></i>2
                                    comments</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </section>
    <!-- end -->
    <section class="container pb-3 pb-sm-4 pb-md-5">
        <div class="row align-items-center pb-5">
            <div class="col-md-7 col-lg-6 col-xl-5 offset-xl-1 text-center text-md-start mb-4 mb-md-0">
                <h2 class="text-light mb-4">Get the top-rated app!</h2>
                <p class="fs-lg text-light opacity-70 mb-md-5">Download Finder App and join the community of car
                    enthusiasts. Don't stop your car search when you leave your computer with our Android and iOS
                    app!
                </p>
                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
                    <a class="btn-market me-sm-3 mb-3 w-sm-100" href="#" role="button">
                        <img src="images/Google_Play_Store_badge_EN.svg" width="180px" alt="" class="appStore">
                    </a><a class="btn-market mb-3 w-sm-100" href="#" role="button">
                        <img src="images/Download_on_the_App_Store_Badge.svg" width="180px" alt="" class="appStore">
                    </a>
                </div>
            </div>
            <div class="col-md-5 col-lg-6"><img class="d-block mx-auto" src="images/mobile-app.png" width="460"
                    alt="Mobile App"></div>
        </div>
    </section>
    <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-light">
            <li class="breadcrumb-item"><a href="car-finder-home.html">Home</a></li>
            <li class="breadcrumb-item"><a href="car-finder-account-info.html">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
            <!-- Account nav-->
            <div class="card card-body card-light border-0 shadow-sm pb-1 me-lg-1">
                <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4"><img class="rounded-circle"
                        src="img/avatars/01.jpg" width="48" alt="Robert Fox">
                    <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
                        <h2 class="fs-lg text-light mb-0">Robert Fox</h2><span class="star-rating"><i
                                class="star-rating-icon fi-star-filled active"></i><i
                                class="star-rating-icon fi-star-filled active"></i><i
                                class="star-rating-icon fi-star-filled active"></i><i
                                class="star-rating-icon fi-star-filled active"></i><i
                                class="star-rating-icon fi-star-filled active"></i></span>
                        <ul class="list-unstyled fs-sm mt-3 mb-0">
                            <li><a class="nav-link-light fw-normal" href="tel:3025550107"><i
                                        class="fi-phone opacity-60 me-2"></i>(302) 555-0107</a></li>
                            <li><a class="nav-link-light fw-normal" href="mailto:robert_fox@email.com"><i
                                        class="fi-mail opacity-60 me-2"></i>robert_fox@email.com</a></li>
                        </ul>
                    </div>
                </div><a class="btn btn-primary btn-lg w-100 mb-3" href="car-finder-sell-car.html"><i
                        class="fi-plus me-2"></i>Sell car</a><a
                    class="btn btn-outline-light d-block d-md-none w-100 mb-3" href="#account-nav"
                    data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Menu</a>
                <div class="collapse d-md-block mt-3" id="account-nav">
                    <div class="card-nav"><a class="card-nav-link active" href="car-finder-account-info.html"><i
                                class="fi-user me-2"></i>Personal Info</a><a class="card-nav-link"
                            href="car-finder-account-security.html"><i class="fi-lock me-2"></i>Password &amp;
                            Security</a><a class="card-nav-link" href="car-finder-account-cars.html"><i
                                class="fi-car me-2"></i>My Cars</a><a class="card-nav-link"
                            href="car-finder-account-wishlist.html"><i class="fi-heart me-2"></i>Wishlist<span
                                class="badge bg-faded-light ms-2">4</span></a><a class="card-nav-link"
                            href="car-finder-account-reviews.html"><i class="fi-star me-2"></i>Reviews</a><a
                            class="card-nav-link" href="car-finder-account-notifications.html"><i
                                class="fi-bell me-2"></i>Notifications</a><a class="card-nav-link"
                            href="car-finder-help-center.html"><i class="fi-help me-2"></i>Help</a><a
                            class="card-nav-link" href="signin-dark.html"><i class="fi-logout me-2"></i>Sign Out</a>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Content-->
        <div class="col-lg-8 col-md-7 mb-5">
            <h1 class="h2 text-light">Personal Info</h1>
            <div class="text-light mb-2 pt-1">Your personal info is 50% completed</div>
            <div class="progress progress-light mb-4" style="height: .25rem;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="row pt-2">
                <div class="col-lg-9 col-md-12 col-sm-8 mb-2 mb-m-4">
                    <div class="border border-light rounded-3 p-3 mb-4" id="personal-info">
                        <!-- Name-->
                        <div class="border-bottom border-light pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2 opacity-70">
                                    <label class="form-label fw-bold text-light">Full name</label>
                                    <div class="text-light" id="name-value">Robert Fox</div>
                                </div>
                                <div data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"><a
                                        class="nav-link nav-link-light py-0" href="#name-collapse"
                                        data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                            </div>
                            <div class="collapse" id="name-collapse" data-bs-parent="#personal-info">
                                <input class="form-control form-control-light mt-3" type="text"
                                    data-bs-binded-element="#name-value" data-bs-unset-value="Not specified"
                                    value="Robert Fox">
                            </div>
                        </div>
                        <!-- Gender-->
                        <div class="border-bottom border-light pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2 opacity-70">
                                    <label class="form-label fw-bold text-light">Gender</label>
                                    <div class="text-light" id="gender-value">Not specified</div>
                                </div>
                                <div data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"><a
                                        class="nav-link nav-link-light py-0" href="#gender-collapse"
                                        data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                            </div>
                            <div class="collapse" id="gender-collapse" data-bs-parent="#personal-info">
                                <select class="form-select form-select-light mt-3"
                                    data-bs-binded-element="#gender-value">
                                    <option value="" disabled="" selected="">Select your gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <!-- Email-->
                        <div class="border-bottom border-light pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2 opacity-70">
                                    <label class="form-label fw-bold text-light">Email</label>
                                    <div class="text-light" id="email-value">robert_fox@email.com</div>
                                </div>
                                <div data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"><a
                                        class="nav-link nav-link-light py-0" href="#email-collapse"
                                        data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                            </div>
                            <div class="collapse" id="email-collapse" data-bs-parent="#personal-info">
                                <input class="form-control form-control-light mt-3" type="email"
                                    data-bs-binded-element="#email-value" data-bs-unset-value="Not specified"
                                    value="robert_fox@email.com">
                            </div>
                        </div>
                        <!-- Phone number-->
                        <div class="border-bottom border-light pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2 opacity-70">
                                    <label class="form-label fw-bold text-light">Phone number</label>
                                    <div class="text-light" id="phone-value">(302) 555-0107</div>
                                </div>
                                <div data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"><a
                                        class="nav-link nav-link-light py-0" href="#phone-collapse"
                                        data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                            </div>
                            <div class="collapse" id="phone-collapse" data-bs-parent="#personal-info">
                                <input class="form-control form-control-light mt-3" type="text"
                                    data-bs-binded-element="#phone-value" data-bs-unset-value="Not specified"
                                    value="(302) 555-0107">
                            </div>
                        </div>
                        <!-- Address-->
                        <div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2 opacity-70">
                                    <label class="form-label fw-bold text-light">Address</label>
                                    <div class="text-light" id="address-value">Not specified</div>
                                </div>
                                <div data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit"><a
                                        class="nav-link nav-link-light py-0" href="#address-collapse"
                                        data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                            </div>
                            <div class="collapse" id="address-collapse" data-bs-parent="#personal-info">
                                <input class="form-control form-control-light mt-3" type="text"
                                    data-bs-binded-element="#address-value" data-bs-unset-value="Not specified"
                                    placeholder="Enter address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-4 mb-4">
                    <div class="filepond--root file-uploader border-light bg-faded-light filepond--hopper"
                        data-style-panel-layout="compact" data-style-button-remove-item-position="left"
                        data-style-button-process-item-position="right" data-style-load-indicator-position="right"
                        data-style-progress-indicator-position="right" data-style-button-remove-item-align="false"
                        style="height: 160px;"><input class="filepond--browser" type="file"
                            id="filepond--browser-a67hd0psd" name="filepond"
                            aria-controls="filepond--assistant-a67hd0psd"
                            aria-labelledby="filepond--drop-label-a67hd0psd" accept="image/png,image/jpeg"><a
                            class="filepond--credits" aria-hidden="true" href="https://pqina.nl/" target="_blank"
                            rel="noopener noreferrer" style="transform: translateY(152px);">Powered by PQINA</a>
                        <div class="filepond--drop-label" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                            <label for="filepond--browser-a67hd0psd" id="filepond--drop-label-a67hd0psd"
                                aria-hidden="true"><i
                                    class="d-inline-block fi-camera-plus fs-2 text-light text-muted mb-2"></i><br><span
                                    class="fw-bold text-light opacity-70">Change picture</span></label>
                        </div>
                        <div class="filepond--list-scroller" style="transform: translate3d(0px, 0px, 0px);">
                            <ul class="filepond--list" role="list"></ul>
                        </div>
                        <div class="filepond--panel filepond--panel-root" data-scalable="true">
                            <div class="filepond--panel-top filepond--panel-root"></div>
                            <div class="filepond--panel-center filepond--panel-root"
                                style="transform: translate3d(0px, 8px, 0px) scale3d(1, 1.44, 1);"></div>
                            <div class="filepond--panel-bottom filepond--panel-root"
                                style="transform: translate3d(0px, 152px, 0px);"></div>
                        </div><span class="filepond--assistant" id="filepond--assistant-a67hd0psd" role="status"
                            aria-live="polite" aria-relevant="additions"></span>
                        <div class="filepond--drip"></div>
                        <fieldset class="filepond--data"></fieldset>
                    </div>
                    <div class="pt-4 pb-2 py-lg-5">
                        <h6 class="text-light mb-2">Who can see my profile?</h6>
                        <p class="fs-sm text-light opacity-70 mb-0">Your profile is&nbsp;private. No&nbsp;one else will
                            see
                            it&nbsp;untill a&nbsp;reservation is&nbsp;confirmed.</p>
                    </div>
                </div>
            </div>
            <!-- Action buttons-->
            <div class="row">
                <div class="col-lg-9">
                    <div class="d-flex align-items-center justify-content-between pb-1">
                        <button class="btn btn-primary" type="button">Save changes</button>
                        <button class="btn btn-link btn-light btn-sm px-0" type="button"><i
                                class="fi-trash me-2"></i>Delete
                            account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>