@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
<section class="container pb-5 mb-md-4" style="height:100vh;margin-top:40px">
    <div class="container pt-5 pb-5" style="width:60%;border-radius:10px;padding-bottom:10px;">

    <form asp-action="ForgotPassword" method="post">
        <div class="form-group" style="margin-bottom:10px">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />
        </div>
        <button type="submit" class="btn btn-primary" >Send Password Reset Link</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }
    </div>
</section>